// compileExpanded: ../css/$1.$2.css

// animation things
.delay-1s {
    animation-delay: 1s;
}

.delay-2s {
    animation-delay: 2s;
}

.delay-3s {
    animation-delay: 3s;
}

// colors
body {
    background-color: #E26A6A;
    color: #95A5A6;
}
